<button (click)="mostrarPDF()">Mostrar PDF</button>
<div #viewerContainer>
  <!-- Contenido a mostrar en el visor -->
</div>
<ul>
  <li *ngFor="let folder of folders"><a (click)="getNodesInFolder(folder.id)" style="cursor: pointer;">
      {{ folder.name }}-{{ folder.id }} </a></li>
</ul>

<ul>
  <li *ngFor="let document of documents" style="color: blue;">
    {{ document.entry.name }}
  </li>
</ul>
<div class="card">






  <p-table #myTable [value]="products" [paginator]="true" [rows]="5" styleClass="p-datatable-sm p-datatable-striped"
    [globalFilterFields]="['code ', 'name', 'product.category', 'product.quantity']" [showCurrentPageReport]="true"
    responsiveLayout="stack" currentPageReportTemplate="{first} to {last}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code">
          <div class="flex align-items-center">
            Tipo <p-sortIcon field="code"></p-sortIcon>
            <p-columnFilter type="text" field="code" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex align-items-center">
            Nombre <p-sortIcon field="code"></p-sortIcon>
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="category">
          <div class="flex align-items-center">
            Tamaño <p-sortIcon field="code"></p-sortIcon>
            <p-columnFilter type="text" field="category" display="menu"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="quantity">Modificado <p-sortIcon field="quantity"></p-sortIcon></th>
        <th>Modificado por</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>
</div>